<!-- IF AJ_MESSAGE -->
<div class="panel bg2" style="background-color: {AJ_STYLE};">
	<div class="inner">
		<span>{AJ_MESSAGE}</span>
	</div>
</div>
<!-- ELSEIF S_JUSTIFY -->
<div class="panel bg2">
	<div class="inner">
		<form id="aj-form" method="post" action="{U_ACTIVATE}">
			<dl class="bg2">
				<dt><label>{L_ACTIVATION_JUSTIFICATION}{L_COLON}</label>{JUSTIFICATION}</dt>
				<dd></dd>
			</dl>
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" id="submit" name="submit" value="{L_ACTIVATE}" />
			</fieldset>
		</form>
	</div>
</div>
<!-- ENDIF -->
