<!-- IF AJ_MESSAGE -->
<div class="panel bg1">
	<div class="inner" style="text-align:center;">
		<h4>{AJ_MESSAGE}</h4>
	</div>
</div>
<!-- ELSEIF S_JUSTIFY -->
<div class="panel">
	<div class="inner">
		<form id="aj-form" method="post" action="{U_ACTIVATE}">
			<dl>
				<dt><h4>{L_ACTIVATION_JUSTIFICATION}{L_COLON} {JUSTIFICATION}</h4></dt>
				<dd></dd>
			</dl>
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" id="submit" name="submit" value="{L_ACTIVATE}" />
			</fieldset>
		</form>
	</div>
</div>
<!-- ENDIF -->
